.container{
    background-color: #003366;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    height: 100%;
    margin: 50px;
    padding: 0;
    overflow-x: hidden;
}
.card mt-4 {
    background-color: #ff0000;
}
.voter-hub {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    
  }
  
  .voter-hub h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color:#003366
  }
  
  .intro {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 30px;
    color: #555;
  }
  
  .calendar-section{
    text-align: center;
  }
  /* Calendar Section */
  .calendar-section h2 {
    font-size: 1.8rem;
    
    color: #003366;
    text-align: center;
  }
  
  .react-calendar {
    width: 100%;
    max-width: 100vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding:20px;
  }
  
  /* Event Date Styling */
  .event-date {
    background-color: palevioletred;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    position: relative; /* To position the red dot indicator */
  }
  
  /* Event Indicator Dot */
  .event-indicator {
    color: #ff0000; /* Red dot to indicate an event */
    font-size: 0.8rem;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 10;
  }
  
  .event-date:hover {
    background-color: pink;
  }
  
  /* Event Details Section */
  .event-details {
    margin-top: 20px;
    font-size: 1rem;
    display:inline;
  }
  
/* src/components/VoterResources.css */

.voter-resources {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .voter-resources h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #003366;
  }
  
  .resource-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .resource-column {
    flex: 1;
    min-width: 250px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .resource-column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #003366;
  }
  
  .resource-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resource-column ul li {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .resource-column ul li strong {
    color: #003366;
  }
  
  