.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
footer {
  position: relative;       /* Fixes the footer to the viewport */
  
  width: 100%;           /* Full width of the viewport */
  background-color: #c21807;
  color: white;
  text-align: center;
  min-height: auto;
  box-sizing: border-box; /* Ensures padding doesn’t increase width */
  z-index: 10;           /* Keeps footer above other content if needed */
  font-size: 0.9rem;
}

.footer-links a {
  color: #bdc3c7;
  /*margin: 0 10px;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
